auth/*
notebooks/.ipynb_checkpoints
.idea/
src/readfile/__pycache__/
src/limited-requests/__pycache__/
src/endpoint-pager/__pycache__/
src/glossarizers/socrata-glossarizer/__pycache__/
src/datafy/__pycache__/
src/datafy/tests/__pycache__/
.DS_Store
src/limited-requests/tests/__pycache__/
src/glossarizers/socrata-glossarizer/ghostdriver.log
src/glossarizers/socrata-glossarizer/.ipynb_checkpoints/
src/glossarizers/ckan-glossarizer/__pycache__/
src/glossarizers/ckan-glossarizer/.ipynb_checkpoints/
